.Navbar {
  margin-top: -20px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #2A77AE;
  margin-bottom: 25px;
} 


.Nav-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.Nav-title {
  /* font-size: 1.5em; */
  font-weight: bold;
}

.Nav-score {
  margin-top: 25px;
  color: #0d98dd;
}

.Nav-info {
  color: #0d98dd;
  font-size: 20px;
  font-weight: bold;
}